ASPNETCORE_PORT=5001
REDIS_PASSWORD=
REDIS_HOST=gateway-redis
COMPOSE_NOW_SITE_PUBLIC_URL=http://localhost:5002

DOTNET_USE_POLLING_FILE_WATCHER=
DOTNET_WATCH_SUPPRESS_LAUNCH_BROWSER=
APP_MODE=

JWT_SIGNING_KEY=compose-now-development-signing-key-change-me-please-32
