ASPNETCORE_PORT=5000
REDIS_PASSWORD=
REDIS_HOST=gateway-redis

DOTNET_USE_POLLING_FILE_WATCHER=
DOTNET_WATCH_SUPPRESS_LAUNCH_BROWSER=
APP_MODE=

JWT_SIGNING_KEY=compose-now-development-signing-key-change-me-please-32
